@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "IBM Plex Mono", monospace;
}

.stone-sha-ascii {

  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 700;
  line-height: 129.1%;
  /* or 23px */

  display: flex;
  align-items: flex-end;
  letter-spacing: -0.05em;

  color: #0019FF;
}

.subpage-ascii {

  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 700;
  line-height: 129.1%;
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.05em;

  color: #0019FF;
}

.project-card-title {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 116%;

  color: #0019FF;
}

.project-card-ascii {
  width: 189px;
  height: 85px;

  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 17px;

  color: #0019FF;
  z-index: 10;
}